.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    width: 45%;
    height: 80%;
    background-color: rgb(255, 255, 255);
}

.header-container .perfil-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 12px o 7px;
}

.header-container .menu-header{
    height: 25px;
    border-radius: 50px;
    margin: 0 5px 0 9px;
}

.contenedor-perfil-name{
    margin-right: auto;
    padding-left: 2%;
}

.contenedor-perfil-name .perfil-title{
    font-weight: 400;
    font-size: 0.85rem;
}

.header-container h4{
    margin-right: auto;
    font-size: 0.95rem;
    font-weight: 600;
}