.stories{
    display: flex;
    width: 90%;
    overflow-x: scroll;
}
.stories__content{
    flex: 1 1 0;
    display: flex;
    gap: 3vmin;
}

@media screen and (min-width: 768px) {
    .stories__content{
        gap: 7vmin;
    }
}