.aside__item--main{
    display: flex;
    flex-direction: column;
    gap: 4%;
    width: 93%;
    max-height: 50%;
}
.aside__item--main > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    flex: 1 1 0;
}
.aside__item--main > div > div > span{
    display: block;
}
.aside__item--main > div > div:first-child > span{
    width: max(7vmin, 57px);
    height: max(7vmin, 57px);
    border: 1px solid black;
    border-radius: 50%;
}
.aside__item--main > div:nth-child(2) > div{
    display: flex;
    flex: 1 1 0;
}
.aside__item--main > div:nth-child(2) > div:nth-child(2){
    justify-content: flex-end;
}
