.pots{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    margin-bottom: 122px;
}
.pots > div{
    flex: 1 1 0;
}
.pots__sections{
    display: flex;
    width: 100%;
    min-height: 5%;
    max-height: 40px;
}
.pots__sections > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    border: 1px solid black;
}


@media screen and (min-width: 768px){
    .pots{
        margin-bottom: 40px;
    }
    .pots__sections{
        max-width: 38rem;
        gap: 12%;
    }
}
